.bu-carousel-container {
  position: absolute;
  width: 90%;
  height: 60vh;
  z-index: 1000;
  z-index: 100;
  overflow: visible;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;  
  left: 5%;
  top: 20%;

  h3 {
    color: #FFFFFF;	
    position: absolute;
    font-size: 48px;	
    font-weight: 800;
    animation: bu-text-fade-in 8s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    top: 30%;
  }

  .slide {
    position: absolute;
    width: fit-content;
    z-index: 100;
  }
}

@keyframes bu-text-fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bu-text-container {

  h4 {
    margin-left: 20px;
    font-size: 48px;
  }
  .what-trades-container {
    opacity: 0;
    animation: what-trades-container-fade-in 1s ease-in-out;
    animation-delay: 7.75s;
    animation-fill-mode:forwards;
    font-size: 48px;
    transform: translateX(5%);
    width: 120%;
    position: absolute;
    display: inline-block;
  }
}

.bu-text {
  font-size: 36px !important;
}

@keyframes what-trades-container-fade-in{
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes button-fade-in{
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.trade-selector-next-button {
  outline: none;
  background: none;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 25px;
  position: absolute;
  top: 180px;
  vertical-align: middle;
  animation: what-trades-container-fade-in 1s ease-in-out;
  animation-delay: 7.75s;
  animation-fill-mode:forwards;
  opacity: 0;
  color: white;
  transform: translateY(285%);
  margin-left: 950px;
  transition: 150ms all ease-in-out;

  &:hover {
    color: #B2D4D5;
    background: white;
  }

  .icon {
    margin: auto;
  }
}

.slick-next {
  display: none !important;
}

.slick-list {
  width: 100%;
}

.slick-slide {
  overflow: visible !important;
}

slick-track {
  top: 0;
}

.build-business-units {
  text-align: center;
  width: 100%;

  h5 {
    font-size: 28px;
    transform: translateY(-10%);
  }

  .next-button-finished-container {
    outline: none;
    background: none;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 25px;
    position: absolute;
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
    transform: translateX(1600%) translateY(-110%);
    color: white;
  }
}

.bu-video {
  margin: auto;
  height: 100%;
  width: 80%;
  margin-top: -8%;
  margin-left: 0%;
}

.finished-business-units-container {
  display: flex;
  width: 70%;
  margin-left: 25%;
  margin-top: 2%;
}

.slick-list {
  height: 100vh;
  user-select: none;
}

.built-unit-container {
  display: inline-block;
  height: 400px;
  width: 500px;
  z-index: 1000;

  margin-top: 15%;

  .bu-header {
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
  }

  .bu-field {
    background: none;
    border: none;
    font-size: 16px;
    color: #70A6A9;
    border: none;
    width: 100%;
    outline: none;
    display: block;
    z-index: 1000;
    margin-top: 25px;
    &::placeholder {
      color: #70A6A9;
    }
  }
}

.btn-complete-bu {
  	height: 40px;	width: 180px;	border: 2px solid #FFFFFF;	border-radius: 25.5px;
    background: none;
    position: fixed;
    // transform: translateY(-160px) translateX(35px);
    transition: all 150ms ease-in-out;
    z-index: 1000;
    color: white;
    transition: all ease-in-out 150ms;
    margin-left: 165px;
    margin-top: 320px;

    &:hover {
      background: white;
      color: #B2D4D5;
    }
}

.what-is-bu {
  font-size: 14px;
  position: absolute;
  top: 280px;
  color: white;
  animation: what-is-bu-animation 8s ease-in-out;
  opacity: 0;
}

@keyframes what-is-bu-animation{
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bu-video-card {
  position: fixed;
  
  img {
      height: 374px;	width: 610px;	border-radius: 6px;
      margin-left: 300px;
      margin-top: 50px;
      z-index: 1;
      animation: what-is-bu-animation 8s ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: .5s;
      opacity: 0;
  }
}