.confirm-logo-container {
  position: absolute;
  margin-left: 2%;

  h3 {
    	color: #FFFFFF;	
      font-family: "Nunito Sans";	
      font-size: 32px;	
      font-weight: 800; 	
  }

  .confirm-logo-text {
    font-size: 16px;
    font-weight: 100;
    margin-top: 15px;
  }

  .logo {
    height: 123px;	width: 123px;
    position: absolute;
    left: -15px;
    top: 95px;
  }

  .button-container {
    position: absolute;
    left: 15%;
    margin-top: 55px;
    z-index: 1000;
  }
}

.logo-button {
  cursor: pointer !important;
  margin-left: 20px;
  color: white;
  outline: none;
  background: none;
	height: 40px;	width: 201px;	border: 2px solid #FFFFFF;	border-radius: 25.5px;
  transition: all 150ms ease-in-out;
  z-index: 1500;
  transform: scale(1);

  &:hover {
    color: #FFE278; 
    border: 2px solid #FFE278;	 
    transform: scale(1.1);
  }
}