.confirm-locations-container-two {
  height: 60vh;
  margin-left: 20%;
  margin-top: 6%;
  overflow: visible;
  h3 {
    	color: #FFFFFF;	
      font-family: "Nunito Sans";	
      font-size: 32px;	
      font-weight: 800;
      margin-bottom: 50px;
  }

}


.confirm-button-styles {
  z-index: 100;
  transform: scale(1);
  position: absolute;
  height: 40px;	width: 180px;	border: 2px solid #FFFFFF;	border-radius: 25.5px;
  background: none;
  color: white;
  transition: all 150ms ease-in-out;

  &:hover {
    background: white;
    color: #2270EE;
  }
  &:active {
    transform: scale(.97);
  }
}

.secondary-confirm-button:extend(.confirm-button-styles) {
  margin-top: 40px;
  transition: all 150ms ease-in-out;
  &:hover {
    background: white;
    color: #2270EE;
  }
  &:active {
    transform: scale(.97);
  }
}