.hor-carousel-container {
  position: absolute;
  width: 90%;
  left: 10%;
  z-index: 1000;
  margin: auto;
  overflow: visible;

  h3 {
    	color: #FFFFFF;	
      font-family: "Nunito Sans";	
      font-size: 32px;	
      font-weight: 800;	
  }

  .slide {
    position: absolute;
    width: fit-content;
    z-index: 100;
  }
}
.slick-list {
  height: 50vh;
}

.next-button {
  position: absolute;
  z-index: 1000;
  top: 70%;
  left: 10%;
	height: 48px;	
  width: 120px;	
  border-radius: 3px;	
  background-color: #F5F5F5;
}
.slick-dots li button:before {
    color: white !important;
  }

.confirm-button {
  position: absolute;
  top: 70%;
  left: 0;
  height: 48px;
  width: 120px;
  border-radius: 3px;
  background-color: #F5F5F5;
  color: #444445;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  z-index: 100;
}
:global {
  .slick-arrow.slick-prev {
    opacity: 0;
  }
}