@import 'colors.less';

html {
  overflow: hidden;
}

body { 
  margin: 0;
  padding: 0;
  background: #2D2E31;
  min-width: 1000px;
  max-height: 100vh;
  overflow: hidden;
}

.main-container {
  width: 100%;
  display: flex;
  height: 100vh; 
  overflow: hidden;
  justify-content: center;
  max-height: 100vh;
  outline: none;
}

.slider-frame {
  max-height: 100vh;
  .slider-list {
    max-height: 100vh;
    .slider-slide {
      max-height: 100vh;
    }
  }
}

.slider-control-bottomright {
    position: absolute;
    bottom: 100px !important;
    right: 60px !important;
}
.slider-slide {
  min-height: 100vh !important;
  height: 100vh !important;
}

.logo {
  z-index: 100;
  width: 250px;
  position: absolute;
  margin: auto;
  top: 6.75%;
}
